
<form  action='.' method = "POST" hx-post="{%if url%} {{url}}{%else%}.{%endif%}" hx-swap="outerHTML">

    {% csrf_token %}


    {%for field in form%}
    <div class= 'required_css_class'>
            <div class="mb-3">
                <div class = "input-group-prepend">

                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}

            </div>
        </div>           
     </div>
     
    {%endfor%}
    <div class ='htmx-indicator'>Loading...</div>
    
        <button class=' btn htmx-inverted-indicator' style='margin:10px; color:  #9c8e56; background-color: transparent;  border: 2px solid #9c8e56;'  type='submit'> Save habit</button>
        {% if message %}
        <p>{{message}}</p>
        {%endif%}
   
</form>