{% extends 'base.html' %}


{% block content %} 
   <div class = "title">
        <p>Atomic Habit<p>
    </div>


<ul class="list-group" >
    {% for x in object_list %}

    <li class="list-group-item " style = "margin:5px; text-align:center;  " > <a class = "list-links"style ="text-decoration: none; color:#9c8e56; font-size:1.5rem; background-color:transparent;border:none;"href = '{{ x.get_absolute_url }}'>{{x.name}}</a></li>

    {%endfor%}
</ul>        <div class ="button-align mx-auto text-center ">
    <div class = "button-align mx-auto text-center ">
        <a class="btn" href='{% url "scorecard:list" %}'style = 'margin:10px; color:  #9c8e56; background-color: transparent;  border: 2px solid #9c8e56;' role="button">View All ScoreCards</a>
    <a class="btn" href='{% url "scorecard:create" %}'style = 'margin:10px; color:  #9c8e56; background-color: transparent;  border: 2px solid #9c8e56;' role="button">Add ScoreCards</a>
    </div>
</div>








{% endblock content %}







