
    <div class = "search-forms">
        <form action = '/search/' method = 'GET'>

            
            <div class="input-group mb-3" style = "padding:10px;">
                <input placeholder = "search for Scorecard "class = "form-control"type='text' id='search-query'name = 'q' value = '{{request.GET.q}}'hx-get='/search/' hx-trigger="keyup changed delay:200ms"hx-include='#search-type' hx-target="#typeahead-results"/>
                <div class="input-group-append">
                    <button type='submit' class = "btn" style = "color:  #9c8e56; background-color: transparent;  border: 2px solid #9c8e56" role="button"/>Search</button>
                </div>
            </div>
        
        
        </form>
        <div class = "results-none"id ='typeahead-results'>
        
        </div>
    </div>
