{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atomic Habits</title>
</head>
<body>

    {%block content%}
    <div class = "title">
        <p>brief description<p>
    </div>
    <div style = "text-align:justify;color:  #73498D;font-size:1.25rem;" >
        In this application the goal is to write down your daily habits and determining if the habits are positve or negative, 
        you are able to view all the past habits and see if youre positive habits outweigh the negative 
        this application is based off james clears' Atomic habits <br>for more information about atomic habits visit <a href = "https://jamesclear.com/">james clears website</a>
    </div>
        <div class = "title">
            <p>what this applicatiop uses<p>
        </div>
        <div style = "text-align:justify;color:  #73498D;font-size:1.25rem;" >
        what this application uses hx  django framework css. python
        </div>
        <div class = "title">
            <p>Purpose of this project<p>
        </div>
        <div style = "text-align:justify;font-size:1.25rem;color:  #73498D;" >
        i was inspired while reading Atomic habits and i thought it might be enjoyable to make a simpe habit scorecard . this project shows off my understanding of 
        django framework, CRUD TDD and my understanding of css 
        </div>


        <div class = "title">
            <p>Contact me<p>
        </div>
        <div style = "text-align:justify; font-size:1.25rem;color:  #73498D;" >
       
             gmail bobbymitchell222@gmail.com
             <a href = "https://linkedin.com/in/bobby-mitchell-8617a6193/">
                <img class = "image-logo"src="{% static 'images/LI-In-Bug.png'%}" alt="Link" width="100" height="100" style = "padding:20px;">
         </a>
 
    </div>

{%endblock content%}
</body>
</html>